<div class="navbar">
  <div class="logo">AddressBook</div>
  <ul class="nav-links">
    <li><a [routerLink]="'/auth/login'" class="login-btn">Login</a></li>
  </ul>
</div>

<div class="container">
  <h2>Reset Password</h2>
  <form (ngSubmit)="submit()" #f="ngForm">
    <div class="form-group">
      <label>New Password:</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        class="form-control"
        placeholder="Enter new password"
      />
      
      <div *ngIf="f.submitted && !password" class="text-danger">
        Password is required.
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-2" [disabled]="isSubmitting">Reset Password</button>
  </form>
</div>
